<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject.e_kantin_pemnjual">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-Kantin Penjual"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:label="E-Kantin Penjual"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PenjualActivity" />
        <activity android:name=".TentangActivity" />
        <activity
            android:name=".PesananActivity"
            android:label="@string/title_activity_pesanan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenusayaActivity"
            android:label="@string/title_activity_menusaya"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu"
            android:label="@string/app_name"/>
        <activity
            android:name=".CreateData"
            android:label="@string/app_name"/>
        <activity
            android:name=".ViewData"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".EditData"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ViewSingleData"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>